* {

    box-sizing: border-box;

}

body {

    font-family: $font-family;
    
}

:focus {outline:none;}
button::-moz-focus-inner {border:0;}
button, button:visited, button:focus, button:active, button:hover,
a, a:visited, a:focus, a:active, a:hover{
    outline:0 none !important;
}

#app {

    overflow: hidden;

    @media all and (min-width: 992px) {

        overflow: visible;

    }

}